{% extends 'base.html' %}

{% block title %}Lustr{% endblock %}

{% block content %}

{% for lustr in lust_page %}
    <div class="cards">
        <div class="card card1">
            <img src="{{ lustr.picture.url }}" alt="">
        </div>
    </div>
{% endfor %}


{% endblock %}


<!--<div class="row">-->
<!--    <div class="column">-->
<!--        <a href="{% url 'finatic:detail' lustr.slug%}"><img src="{{ lustr.picture.url }}" alt="images" width="100%"></a>-->

<!--    </div>-->
<!--</div>-->