{% extends 'base.html' %}

{% block title %}Lustr{% endblock %}

{% block content %}

{% for lustr in lust_page %}
    <section id="facilities">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <img src="{{ lustr.picture.url }}" alt="image" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">{{ lustr.title }}</h3>
                            <p class="card-text">{{ lustr.snippet }}</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}


{% endblock %}


<!--<div class="row">-->
<!--    <div class="column">-->
<!--        <a href="{% url 'finatic:detail' lustr.slug%}"><img src="{{ lustr.picture.url }}" alt="images" width="100%"></a>-->

<!--    </div>-->
<!--</div>-->