*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    margin-left: 5vw;
}

.navbar-nav {
    justify-content: space-around;
    width: 40%;
    margin-right: 4vw;
}

.navbar-nav .nav-link{
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.card-body{
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}

.card-title{
    font-family: 'Rubik', 'sans-serif';
    font-weight: bold;
}

.card-text{
    font-family: 'Raleway', 'sans-serif';
}

.card-name{
    font-family: 'Raleway', 'sans-serif';
}

.card-body a{
    font-family: 'Rubik', 'sans-serif';
    text-decoration: none;
    margin-top: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #7c7cbf;
    border: none;
    color: white;
}
.card{
    margin: 20px 10px;
}

.card-body a:hover{
    transition: 0.5s ease-in;
    color: white;
    background-color: #e5d113;
}








